In [3]:
import pandas as pd

In [4]:
dataset_path_ft_eval_score = "dataset/vampire-bats-6-files/vampire-bats-6-ft.eval.answer.1864.score.jsonl"
ft_df = pd.read_json(dataset_path_ft_eval_score, lines=True)
ft_df.head()

,question,answer,gold_final_answer,final_answer,context,gpt_groundedness,gpt_similarity,error
0,What is the name of the character that appears...,"To answer the question, we need to identify th...",Sherlock Holmes,Dracula,<DOCUMENT>Further exterior shots followed in L...,3.0,NaN,NaN
1,Who is the character that appears in more film...,"To answer the question, we need to identify th...",Sherlock Holmes,Sherlock Holmes,"<DOCUMENT>At rest, theymay wrap their wings ar...",3.0,5.0,NaN
2,What kind of vision do most microbats have?,"To answer the question, we need to identify th...",Mesopic vision,Mesopic vision,<DOCUMENT>These bats must dealwith changes in ...,5.0,5.0,NaN
3,What is the name of the industries that the va...,"To answer the question, we need to identify th...","film, television, and gaming industries.","film, television, and gaming",<DOCUMENT>Drac and Johnny begin to bond and ha...,3.0,NaN,NaN
4,What is the title of the novel that many early...,"To answer the question, we need to identify th...",Dracula,Dracula,"<DOCUMENT>World Champion from 1976 to1979, Ove...",1.0,5.0,NaN

In [6]:
len(ft_df)

1864

In [13]:
ft_df[['gpt_similarity', 'gpt_groundedness']].mean()

gpt_similarity      4.768159
gpt_groundedness    3.169822
dtype: float64

In [7]:
dataset_path_base_eval_score = "dataset/large_data_evaluate_base_model_Output_Table_05-23-2024-09-54.csv"
base_df = pd.read_csv(dataset_path_base_eval_score)
base_df.head(3)

,inputs.question,inputs.answer,inputs.context,inputs.ground_truth,gpt_similarity,gpt_groundedness,index,status
0,What kind of vision do most microbats have?,Most microbats have mesopic vision. $ answer =...,<DOCUMENT>These bats must dealwith changes in ...,Mesopic vision,5.0,5.0,0,Completed
1,What year was Anne Rice's Vampire Chronicles p...,1976.,<DOCUMENT>Huntingtonbrought surfing to the Cal...,1976,5.0,1.0,1,Completed
2,In how many films has Dracula appeared?,Unknown.,<DOCUMENT>This formula was followed in novelis...,The exact number of films is not specified in ...,5.0,1.0,2,Completed

In [12]:
base_df[['gpt_similarity', 'gpt_groundedness']].mean()

gpt_similarity      2.730619
gpt_groundedness    2.740844
dtype: float64