In [3]:
import tiktoken
import pandas as pd

In [4]:
dataset_path_hf_full="dataset/vampire-bats-6-files/vampire-bats-6-ft.eval.jsonl"

In [5]:
df = pd.read_json(dataset_path_hf_full, lines=True)
df.head()

,question,answer,gold_final_answer,final_answer,context
0,What kind of vision do most microbats have?,"To answer the question, we need to identify th...",Mesopic vision,Mesopic vision,<DOCUMENT>These bats must dealwith changes in ...
1,What year was Anne Rice's Vampire Chronicles p...,"To answer the question, we need to identify th...",1976,1976,<DOCUMENT>Huntingtonbrought surfing to the Cal...
2,In how many films has Dracula appeared?,"To answer the question, we need to identify th...",The exact number of films is not specified in ...,More than one,<DOCUMENT>This formula was followed in novelis...
3,Who is the character that appears in more film...,"To answer the question, we need to identify th...",Sherlock Holmes,Sherlock Holmes,"<DOCUMENT>At rest, theymay wrap their wings ar..."
4,What was the time period of Stephenie Meyer's ...,"To answer the question, we need to identify th...",2005-2008,Modern,<DOCUMENT>.</DOCUMENT>\n<DOCUMENT>This formula...

In [6]:
def num_tokens_from_string(string: str, encoding_name: str = "cl100k_base") -> int:
    if not string:
        return 0
    encoding = tiktoken.get_encoding(encoding_name)
    num_tokens = len(encoding.encode(string))
    return num_tokens

In [7]:
num_tokens_from_string("hello world aaaaaaaaaaaa")

5

In [8]:
df['tokens_question'] = df['question'].apply(num_tokens_from_string)
df['tokens_context'] = df['context'].apply(num_tokens_from_string)
df['tokens_in'] = df['tokens_context'] + df['tokens_question']
df['tokens_answer'] = df['answer'].apply(num_tokens_from_string)
df['tokens_out'] = df['tokens_answer']
df['tokens_total'] = df['tokens_in'] + df['tokens_out']
df.head()

,question,answer,gold_final_answer,final_answer,context,tokens_question,tokens_context,tokens_in,tokens_answer,tokens_out,tokens_total
0,What kind of vision do most microbats have?,"To answer the question, we need to identify th...",Mesopic vision,Mesopic vision,<DOCUMENT>These bats must dealwith changes in ...,11,823,834,188,188,1022
1,What year was Anne Rice's Vampire Chronicles p...,"To answer the question, we need to identify th...",1976,1976,<DOCUMENT>Huntingtonbrought surfing to the Cal...,10,183,193,166,166,359
2,In how many films has Dracula appeared?,"To answer the question, we need to identify th...",The exact number of films is not specified in ...,More than one,<DOCUMENT>This formula was followed in novelis...,9,258,267,231,231,498
3,Who is the character that appears in more film...,"To answer the question, we need to identify th...",Sherlock Holmes,Sherlock Holmes,"<DOCUMENT>At rest, theymay wrap their wings ar...",13,607,620,180,180,800
4,What was the time period of Stephenie Meyer's ...,"To answer the question, we need to identify th...",2005-2008,Modern,<DOCUMENT>.</DOCUMENT>\n<DOCUMENT>This formula...,13,193,206,249,249,455

In [9]:
df[['tokens_in', 'tokens_out', 'tokens_total']].sum()

tokens_in       50532
tokens_out      16990
tokens_total    67522
dtype: int64

In [19]:
len(df)

18666